/build/
/build*/
/out/
_legacy_runtime/

CMakeCache.txt
cmake_install.cmake
build.ninja
.ninja_deps
.ninja_log
CMakeFiles/
dofus_process_sniffer_autogen/
.qt/

*.obj
*.pdb

CMakeUserPresets.json
*.user
.idea/
.vs/
